.container {
  display: flex;
  flex-direction: column;
  margin: 5rem auto;
  text-align: center;
  max-width: 80%;
}

.container h1 {
  font-family: "Inter", sans-serif;
  font-weight: 500;
  font-size: var(--font-size-xlarge);
  margin-top: 2rem;
}

.container .content {
  display: flex;
  justify-content: space-evenly;
  margin: 4rem;
}

.info {
  margin-top: 2rem;
  display: flex;
  flex-direction: column;
  align-items: flex-start;
}

.price {
  font-weight: 600;
}

@media screen and (max-width: 1300px) {
  .container .content {
    flex-direction: column;
  }
}

.container img {
  object-fit: cover;
  width: 70%;
}

.container .description {
  font-family: "Inter", sans-serif;
  font-size: var(--font-size-medium);
  line-height: 2rem;
  margin: 4rem 0;
  text-align: justify;
  max-width: 500px;
}
.breadcrumbs {
  align-self: flex-start;
  margin-left: 2rem;
}
.breadcrumbs span {
  text-decoration: underline;
  text-transform: uppercase;
  font-size: var(--font-size-xsmall);
  font-weight: bold;
  font-family: var(--font-title);

  margin-left: 0.3em;
}

.breadcrumbs span:nth-child(2) {
  text-decoration: none;
}
