html,
body {
  height: 100%;
}

body {
  line-height: 1.5;
  -webkit-font-smoothing: antialiased;
  height: max(100vh, auto);
}

img,
picture,
video,
canvas,
svg {
  display: block;
  max-width: 100%;
}

#root {
  isolation: isolate;
  min-height: 100%;
  display: flex;
  flex-direction: column;
}
